@use "../../index.scss";

.amount {
    background-color: index.$input-group-color;
    border-radius: 2rem;
    width: 45%;
    transition: background-color 0.3s;
    &:hover {
        background-color: index.$hover;
    }
    &::placeholder {
        color: index.$placeholder;
    }
}
.submit {
    background-color: index.$submit-bg-color;
    border-radius: 2rem;
    width: 45%;
    font-size: 1.2rem;
    transition: border-color 0.3s;
    &:hover {
        border-color: index.$hover;
    }
}