@use "../../index.scss";

.currency-list {
    display: grid;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: index.$bg-color;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    h2 {
        font-size: 1.8rem;
    }
    .currency-table {
        width: 90vw;
        background-color: index.$table-bg-color;
        border-radius: 1rem;
        overflow: hidden;
        thead {
            font-size: 1.5rem;
            th {
                border-bottom: 3px solid index.$table-border-color;
            }
        }
        tbody {
            font-size: 1.1rem;
            th {
                border-right: 1px solid index.$table-border-color;
            }
            th, td {
                border-bottom: 1px solid index.$table-border-color;
            }
        }
    }
}