@use "../../index.scss";

.selectpicker-group {
    background-color: index.$input-group-color;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    min-width: 25%;
    width: 95%;
    max-width: 18rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
    label {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .selectpicker {
        background-color: index.$selectpicker-color;
        min-width: 5rem;
        border-radius: 2rem;
        option {
            background-color: index.$input-group-color;
        }
    }
    &:hover {
        background-color: index.$hover;
    }
}