@use "../../index.scss";

.content {
    form {
        background-color: index.$bg-color;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .form-group-select {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .form-group-amount {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .form-group-submit {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .box  {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        transition: background-color 0.5s;
    }
    .info-box {
        background-color: index.$info-box;
    }
    .danger-box {
        background-color: index.$danger-box;
    }
}